* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  color: #000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  background-color: #308276;
}

h1 {
  color: aliceblue;
  flex-grow: 1;
  font-size: 4rem;
  text-decoration: underline;
  text-align: center;
}

.ca-logo {
  background-color: #fff;
  left: 0;
  height: 8rem;
  width: 12rem;
}

.choice-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f4f9f3;
  height: 7rem;
  margin-top: 2rem;
}

.text-header {
  font-size: 2.5rem;
}

.input-header {
  border-radius: 25px;
  height: 3rem;
  text-align: center;
  width: 20rem;
}

.button-header {
  background-color: #308276;
  border-radius: 25px;
  height: 3rem;
  text-align: center;
  width: 15rem;
}

.count-and-search-zone {
  display: flex;
  background-color: #f4f9f3;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.total-zone {
  display: flex;
  justify-content: space-evenly;
}

.h2-zone {
  flex: 1;
}

h2 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.count {
  flex-direction: column;
  text-align: center;
  background-color: #308276;
  border-radius: 25px;
  color: #fff;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  height: 10rem;
  margin-top: 2rem;
  text-transform: uppercase;
  width: 20rem;
}

.count-total {
  color: #fff;
  margin-top: 2rem;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #308276;
  border-radius: 25px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  height: 15rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  width: 25rem;
}

.earned {
  color: #00ff7f;
  text-align: start;
}

.spent {
  color: #ff3b30;
  text-align: start;
}

.search-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

h3 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.search-bar {
  border-radius: 25px;
  height: 5rem;
  margin-top: 2rem;
  width: 20rem;
}

h4 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.paste-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.p-paste-zone {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.input-paste {
  border-radius: 25px;
  height: 5rem;
  margin-top: 2rem;
  width: 20rem;
}

.container-deal {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.table {
  font-size: 2rem;
}

.date {
  background-color: #308276;
  border: 1px solid #000;
  color: #fff;
  flex: 1;
  font-size: 2.5rem;
  text-align: center;
}

.reason {
  background-color: #308276;
  border: 1px solid #000;
  color: #fff;
  flex: 1;
  font-size: 2.5rem;
  text-align: center;
}

.value {
  background-color: #308276;
  border: 1px solid #000;
  color: #fff;
  flex: 1;
  font-size: 2.5em;
  text-align: center;
}

.text-zones-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid #000;
  height: 3rem;
  text-align: center;
}

.text-zones-reason {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid #000;
  height: 3rem;
  text-align: center;
}

.text-zones-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid #000;
  height: 3rem;
  text-align: center;
}

.li-generated {
  background-color: #f4f9f3;
  display: flex;
}

.text-in-divs {
  color: #000;
  font-size: 1.6rem;
}

/*MEDIA QUERIES*/

@media (max-width: 1024px) {
  .count-and-search-zone {
    display: flex;
    flex-direction: column;
    background-color: #f4f9f3;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  .text-in-divs {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  header {
    justify-content: space-between;
  }

  .ca-logo {
    height: 8rem;
    width: 10rem;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .count-and-search-zone {
    display: flex;
    justify-content: space-between;
  }

  .h2-zone,
  .search-zone,
  .paste-zone {
    box-sizing: border-box;
    flex: 1 1 30%;
    max-width: 33%;
    transform: scale(0.9);
  }

  h1 {
    font-size: 2rem;
    margin: 0 auto;
    padding-left: 8rem;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .total,
  .count {
    font-size: 1.8rem;
    overflow: hidden;
    word-wrap: break-word;
  }
  .total {
    padding-top: 1rem;
  }
  .count-title {
    font-size: 1.5rem;
    padding-top: 1rem;
    text-wrap: wrap;
  }

  .text-in-divs {
    font-size: 1.4rem;
  }
}
